<?xml version="1.0"?>
<model>
  <name>iris_depth_camera</name>
  <version>1.1</version>
  <sdf version='1.5'>iris_depth_camera.sdf</sdf>
  <author>
    <name>Lorenz Meier</name>
    <email>lorenz@px4.io</email>
  </author>
  <description>
    Modified 3DR Iris with a depth camera for Ego-Planner.
  </description>
</model>
